// Testing CLI -- Test 003

// ##### VARIABLES START #####

    // Site wide variables start

    $header-font: 'Questrial', sans-serif;
    $header-font-size: 18px;

    $content-font: 'Questrial', sans-serif;
    $content-font-size: 12px;

    $nav-font: 'Questrial', sans-serif;;
    $nav-font-size: 12px;

    $dark-color: #231f20;
    $light-color: #eaeaea;
    $bright-color: #92ba8f;

    $animation-fill-mode: forwards;

    // Site wide variables end

    // Mobile variables start

    // Mobile variables end

    // Desktop variables start

    // Desktop variables end


// ##### VARIABLES END #####

// ##### MIXINS START #####

    // Mobile mixins start

    // Mobile mixins end

    // Desktop mixins start

    // Desktop mixins end

// ##### MIXINS END #####

// #####  IDS AND CLASSES START #####

    // Sitewide

    .html, body {
        background: linear-gradient(135deg, $bright-color, $light-color);
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
    }

    // Defines each section.

    .section {
        height: auto;
        font-family: $content-font;
        font-size: $content-font-size;
        color: $dark-color;
    }

    .heading {
        font-family: $header-font;
        font-size: $header-font-size;
    }

    .content {
        font-family: $content-font;
        font-size: $content-font-size;
    }

    .nav-styling {
        background-color: $dark-color;
        font-family: $nav-font;
        font-size: $nav-font-size;
    }

    .nav-styling a {
        color: $light-color;
    }

    // Mobile only

    // Desktop only

    // Bootstrap modifications

    .navbar-toggler-icon {
        color: #eaeaea;
        height: 1.0em;
    }

    .form-control {
        font-size: 0.6rem;
        width: 70%;
    }

    .btn {
        padding: 0.3rem 0.75rem;
        font-size: 0.75rem;
    }

    .btn-outline-success {
        color: $bright-color;
        border-color: $bright-color;
    }

// #####  IDS AND CLASSES END #####
