// Testing CLI -- Test 003

// ##### VARIABLES START #####

    // Site wide variables start

    $header-font: 'Questrial', sans-serif;
    $header-font-size: 18px;

    $content-font: 'Questrial', sans-serif;
    $content-font-size: 12px;

    $dark-color: #231f20;
    $light-color: #eaeaea;
    $nav-color: #92ba8f;

    $background-img: url("../imgs/pattern.jpg");
    $dark-img-overlay: rgba(35, 31, 32, 0.8);
    $light-img-overlay: rgba(234, 234, 234, 0.8);

    $animation-fill-mode: forwards;

    // Site wide variables end

    // Mobile variables start

    // Mobile variables end

    // Desktop variables start

    // Desktop variables end


// ##### VARIABLES END #####

// ##### MIXINS START #####

    // Mobile mixins start

    // Mobile mixins end

    // Desktop mixins start

    // Desktop mixins end

// ##### MIXINS END #####

// #####  IDS AND CLASSES START #####

    // Sitewide

    .html, body {
        background-color: $dark-color;
        margin: 0;
        padding: 0;
    }

    // Defines each section.

    #section {
        height: auto;
        font-family: $content-font;
        background-image: $background-img;
        background-repeat: repeat;
        z-index: 1;
    }

    // Defines a specific section, in this case, the home page.

    #home {
        @extend #section;
        color: $dark-color;
        font-size: $content-font-size;
        background-color: $light-img-overlay;
        z-index: 2;
    }

    // Mobile only

    // Desktop only

// #####  IDS AND CLASSES END #####
